@mixin box_sizing {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    
}

@mixin background_cover {
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

@mixin buttom_hover {
  background-color: $font_color;
            color: #ffffff;  
}