
@mixin flex {
    display: flex;
    justify-content: start;
    align-items: center;
}

@mixin flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin showcase-flex {
    display: flex;
        justify-content: center;
        align-items: flex-end;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}