$orange-color: #f75311;
$header_footer_color: #374249;
$font-color: #797979;
$headline: #374249;
$header-font-color: #fff;
$hover_button: #cfd1d3;
$background_Section: #f3f7f9;
$font-family: 'Roboto', sans-serif;


