$font-family: "Roboto", sans-serif;
$header-height: 5rem;
$section-padding: 1rem 0;
$section-content-width: 70%; // width of main divs inside all sections
$section-background: #f3f7f9; // background fow galery and contact sections
$primary-color: rgb(55, 66, 73);
$accent-color: #f75311;
$logo-font: 1.5rem;
$input-height: 2.2rem; // input and table cell heights
