@import "./vars";
@import "./mixins";
@import "./functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

html,
body {
  height: 100%;
  width: 100%;
}

//start of header styling (end on line 87)

header {
  height: $header-height;

  nav {
    height: 100%;
    width: 100%;
    @include display-flex(row, center, flex-start);
    background: $primary-color;
    position: relative;

    div {
      height: 100%;
      width: 400px;
      background: $accent-color;
      @include display-flex(row, center, flex-start);
      padding: 0 2rem;
      @include mQ(1100px) {
        width: 250px;
      }
      @include mQ(768px) {
        width: 100%;
      }

      img {
        height: 60%;
      }
      a {
        font-size: $logo-font;
        color: smart-color($accent-color);
      }
    }

    ul {
      height: 100%;
      width: 600px;
      list-style: none;
      @include display-flex(row, center, space-around);
      @include mQ(1100px) {
        width: 500px;
      }
      @include mQ(768px) {
        position: absolute;
        top: $header-height;
        left: 0;
        width: 100%;
        @include display-flex(column, center, center);
        background: $primary-color;
        height: 20rem;
      }

      li {
        height: 100%;

        a {
          @extend li;
          @include display-flex(row, center, center);
          color: smart-color($primary-color);
          text-decoration: none;
          font-size: $logo-font/100 * 80;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//end of header styling

main {
  width: 100%;

  section {
    width: 100%;
    padding: $section-padding;
    text-align: center;
  }
}

//start of section-a styling (end on line 138)

.section-a {
  height: calc(100vh - #{$header-height});
  background: url("../slike/intro.jpg");
  @include background;

  div {
    width: $section-content-width;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(55, 66, 73, 0.5);
    text-align: center;
    @include mQ(1100px) {
      top: 50%;
    }
    @include mQ(768px) {
      width: 100%;
      top: 100%;
      transform: translate(-50%, -100%);
      background: black;
      padding: 1rem;
    }

    h1 {
      font-size: 4rem;
      font-weight: normal;
      @include mQ(600px) {
        font-size: 3rem;
      }
      @include mQ(370px) {
        font-size: 2rem;
      }
    }

    h3 {
      font-size: 1.5rem;
      font-weight: normal;
      @include mQ(600px) {
        font-size: 1rem;
      }
    }
  }
}

//end of section-a styling

//start of section-b styling (end on line 156)

.section-b {
  div {
    width: $section-content-width;
    margin: 0 auto;
    @include display-flex(row, center, flex-end);
    @include mQ(768px) {
      width: 90%;
      justify-content: space-evenly;
    }
    @include mQ(600px) {
      flex-wrap: wrap;
    }

    @include button(block);
  }
}

//end of section-b styling

//start of section-c styling(end on line 224)

.section-c {
  background: $section-background;
  div {
    width: $section-content-width;
    margin: 0 auto;
    @include display-flex(row, center, center);
    flex-wrap: wrap;
    padding: 2rem 0;
    @include mQ(1010px) {
      width: 90%;
    }
    @include mQ(768px) {
      width: 95%;
    }

    div {
      width: 16rem;
      height: 20rem;
      margin: 1rem;
      padding: 0;
      cursor: pointer;
      @include display-flex(column, center, flex-start);
      @include mQ(1100px) {
        width: 20rem;
      }
      @include mQ(768px) {
        width: 100%;
        height: 20rem;
      }

      .hover-div {
        width: 100%;
        height: 40%;
        margin: 0;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.5);
        @include display-flex(column, flex-start, flex-start);
        opacity: 0;
        transition: opacity 0.3s ease;
        @include mQ(768px) {
          opacity: 1;
        }

        h3 {
          font-size: 1.5rem;
          font-weight: normal;

          @include mQ(400px) {
            font-size: 1rem;
          }
        }
      }

      &:hover .hover-div {
        opacity: 1;
        transition: opacity 0.3s ease;
      }
    }

    @for $i from 1 through 6 {
      #div#{$i} {
        background: url("../slike/#{$i}.jpg");
        @include background;
      }
    }
  }
}

//end of section-c styling

//start of section-d styling (end on line 284)

.section-d {
  text-align: center;

  h2 {
    @include h2;
  }

  h4 {
    font-size: 1rem;
    color: #878b97;
    font-weight: normal;
  }

  table {
    width: 800px;
    border-collapse: collapse;
    margin: 2rem auto 5rem auto;
    @include mQ(1100px) {
      width: 80%;
    }
    @include mQ(768px) {
      display: none;
    }

    tr,
    th,
    td {
      height: $input-height;
    }

    td {
      border: 1px solid #929292;
    }

    .primary {
      background: $primary-color;
      color: smart-color($primary-color);
      border: 1px solid #929292;
    }

    .accent {
      background: $accent-color;
      color: smart-color($accent-color);
    }
  }

  @include button(none);

  button {
    @include mQ(768px) {
      display: block;
      margin: 2rem auto;
    }
  }
}

//end of section-d styling

//start of section-e styling (end on line 355)

.section-e {
  background: $section-background;

  h2 {
    @include h2;
  }

  div {
    width: $section-content-width;
    margin: 0 auto;
    @include display-flex(row, flex-start, space-between);
    padding: 1rem 0 3rem 0;
    @include mQ(1100px) {
      @include display-flex(column, center, center);
    }
    @include mQ(768px) {
      width: 90%;
    }

    form {
      width: 60%;
      background: $accent-color;
      padding: 2rem;
      margin-left: 2rem;
      @include mQ(1100px) {
        margin: 2rem 0;
        width: 100%;
      }

      select,
      input,
      textarea {
        display: block;
        height: $input-height;
        padding: 10px;
        font-size: 1rem;
        background: white;
        border: none;
      }

      textarea {
        height: 2 * $input-height;
      }

      input[type="email"],
      textarea {
        width: 100%;
      }

      select {
        float: left;
        width: 25%;
      }

      input[type="text"] {
        float: right;
        width: 70%;
      }

      input[type="email"] {
        margin: calc(2rem + #{$input-height}) 0 2rem 0;
        clear: both;
      }
    }

    iframe {
      width: 100%;
    }
  }
}

//end of section-e styling

//footer styling from here to end

footer {
  text-align: center;
  background: $primary-color;
  color: white;
  padding: 1rem 0;
  font-size: 1.1rem;

  span {
    color: $accent-color;
  }
}
